clusters:
- cluster:
    certificate-authority-data: {{ hub_ca_results.resources[0].data["ca.crt"] | ansible.builtin.b64encode }}
    server: https://{{ proxy_route.resources[0].spec.host }}/{{ managed_cluster_name }}
  name: {{ managed_cluster_name }}-ark
contexts:
- context:
    cluster: {{ managed_cluster_name }}-ark
    user: {{ ark_service_account_name }}
  name: {{ managed_cluster_name }}-ark
current-context: {{ managed_cluster_name }}-ark
preferences: {}
users:
- name: {{ ark_service_account_name }}
  user:
    token: {{ sa_secret_results.resources[0].data.token | ansible.builtin.b64decode }}
