apiVersion: apps.open-cluster-management.io/v1
kind: PlacementRule
metadata:
  name: "{{ managed_cluster_name }}-ark-rbac"
  namespace: "{{ msa_policy_namespace }}"
spec:
  clusterConditions:
  - status: "True"
    type: ManagedClusterConditionAvailable
  clusterSelector:
    matchExpressions:
      - key: name
        operator: In
        values:
          - "{{ managed_cluster_name }}"
